* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #1e2432;
  margin-top: 2em;
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  height: 25vh;
  justify-content: space-around;
}
.info span {
  margin-left: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #091f43;
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}
h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}
input,
button {
  background: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 10px;
}
button {
  background-color: #ff1f42;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1px;
}
input {
  border-bottom: 1px solid #ffffff;
  font-size: 15px;
}

::placeholder {
  color: #ffffff;
  font-family: "Nunito", sans-serif;
}
#temp {
  color: black;
  font-weight: 900;
  font-size: 2em;
}
#name {
  color: #52627b;
  font-weight: 700;
}
